<h1><%= @recipe.name %></h1>
<br>
<h2><%= @recipe.ingredients %></h2>
<br>
<h2><%= @recipe.cook_time %></h2>

<a href="/recipes/<%= @recipe.id  %>/edit">Edit recipe</a>

<br>

<form action="/recipes/<%= @recipe.id %>" method="post">
<input type="hidden" name="_method" value="delete" />
  <input id ="delete" type="submit" name="submit" value="delete">
</form>
